header {
  font-family: "Courgette", cursive;
  background: #fff9f2;
}

.wedev_banner {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
}

.banner_img {
  height: 75px;
}

.banner_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.banner_list li {
  margin: 0 10px;
  transition: transform 400ms ease-out;
}

.banner_about:hover {
  transform: translate(-8%, 8%);
  cursor: pointer;
}

.banner_portofolio:hover {
  transform: translate(0, 8%);
  cursor: pointer;
}

.banner_contact:hover {
  transform: translate(8%, 8%);
  cursor: pointer;
}

.banner_list li:active {
  color: #86a8b3;
  cursor: pointer;
}

.banner_list li a {
  color: black;
  text-decoration: none;
  font-size: larger;
}

.banner_switch {
  border: #fff9f2 2px solid;
  border-radius: 20px;
  width: 45px;
  height: 15px;
  margin-left: 15px;
  background: rgb(179, 165, 152);
  background: linear-gradient(
    211deg,
    rgba(179, 165, 152, 1) 0%,
    rgba(242, 252, 255, 1) 100%
  );
}

.switch_box {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.switch_btn {
  position: relative;
  top: -4px;
  left: -4px;
  cursor: pointer;
}

.switch_btn::before {
  content: "";
  display: block;
  border: white solid 2px;
  border-radius: 150px;
  height: 1.2em;
  width: 3em;
  margin: 0;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgb(242, 252, 255);
  background: radial-gradient(
    circle,
    rgba(242, 252, 255, 1) 44%,
    rgba(255, 255, 255, 1) 100%
  );
}

.switch_btn::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  display: block;
  border: rgba(254, 255, 0, 0.8) solid 1px;
  border-radius: 100%;
  height: 1.1em;
  width: 1.1em;
  margin: 0;
  transition: transform 600ms cubic-bezier(.29,.42,1,0);
  background: rgb(254, 255, 0);
  background: linear-gradient(
    45deg,
    rgba(254, 255, 0, 1) 0%,
    rgba(202, 226, 0, 1) 82%
  );
}

.switch_box:checked + .switch_btn::after {
  transform: translate(100%) rotate(180deg);
}
