header {
  font-family: "Courgette", cursive;
  background: #fff9f2;
}

.wedev_banner {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
}

.banner_img {
  height: 75px;
}

.banner_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.banner_list li {
  margin: 0 10px;
  transition: transform 400ms ease-out;
}

.banner_about:hover {
  transform: translate(-8%, 8%);
  cursor: pointer;
}

.banner_portofolio:hover {
  transform: translate(0, 8%);
  cursor: pointer;
}

.banner_contact:hover {
  transform: translate(8%, 8%);
  cursor: pointer;
}

.banner_list li:active {
  color: #86a8b3;
  cursor: pointer;
}

.banner_list li a {
  color: black;
  text-decoration: none;
  font-size: larger;
}

.banner_switch {
  border: #fff9f2 2px solid;
  border-radius: 20px;
  width: 45px;
  height: 15px;
  margin-left: 15px;
  background: rgb(179, 165, 152);
  background: linear-gradient(
    211deg,
    rgba(179, 165, 152, 1) 0%,
    rgba(242, 252, 255, 1) 100%
  );
}

.switch_box {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.switch_btn {
  position: relative;
  top: -8px;
  left: -4px;
  cursor: pointer;
}

.switch_btn::before {
  content: "";
  display: block;
  border: white solid 2px;
  border-radius: 150px;
  height: 1.8em;
  width: 3.2em;
  margin: 0;
  transition: background 100ms ease-in 50ms;
  background: rgb(255, 249, 242)
    linear-gradient(
      90deg,
      rgba(255, 249, 242, 1) 0%,
      rgba(205, 198, 191, 1) 35%,
      rgba(175, 169, 162, 1) 100%
    );
}

.switch_btn::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 1.5px;
  display: block;
  border-radius: 100%;
  height: 1.8em;
  width: 1.8em;
  margin: 0;
  background: rgb(255, 227, 0)
    linear-gradient(
      90deg,
      rgba(254, 255, 0, 1) 0%,
      rgba(217, 206, 22, 1) 65%,
      rgba(255, 227, 0, 1) 100%
    );
  transition: transform 500ms ease-in, background 150ms ease-in;
}

.switch_box:checked + .switch_btn::after {
  transform: translate(77%) rotate(180deg);
  background: rgb(0, 0, 0)
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(60, 40, 22, 1) 35%,
      rgba(161, 102, 34, 1) 100%
    );
}
