.titre_portofolio {
  font-size: xx-large;
  margin-top: 50px;
  padding: 8px;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.box_parent_portofolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.link_portofolio {
  position: relative;
  width: 450px;
  height: 450px;
  margin: 20px;

}

.link_portofolio::before {
  content: "";
  background-color: #86a8b3;
  position: absolute;
  width: 450px;
  height: 450px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;

}

.link_portofolio:hover::before {
  opacity: 0.8;

}

.link_portofolio figure {
  width: 100%;
  height: 100%;
  margin: 0;
}

.text_portofolio {
  position: absolute;
  top: 100px;
  padding: 50px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.text_portofolio:hover {
  opacity: 1;
}

.text_portofolio p {
  text-align: center;
}

.icon_portofolio {
  font-size: xx-large;
  margin: 10px;
}

.html5 {
  color: #F16528;
}

.css3 {
  color: #2C6780;
}

.img_portofolio {
  width: 450px;
  height: 450px;
  overflow: hidden;
  object-fit: cover;
  margin: 0;
}


